body{
    background-color: #eeee;
}

.wraper{
    margin: 0 30px;
}

.header{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 10px 0;
}
.header h1{
    font-size: 50px;
    font-family: sans-serif;
    color: #29292b;
    font-weight: 200;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    padding-top: 10px;
    height: 400px;
}