.article{
    height: auto;
    width: 350;
    margin: 20px;
    background-color: #dddddd;
    border-radius: 10px;
}

.target-header{
    display: flex;
    flex-direction: column;
}

.image{
    width: auto;
    height: 180px;
    border-top-right-radius: 10px;
    border-top-left-radius: 15px;
}

.target-body{
    margin: 10px;
    padding: 10px;
    height: auto;
}

.target-title{
    margin-bottom: 20px;
}

.btn{
    margin-top: 15px;
    margin-bottom: 10px;

}

.target-author{
    margin-left: 80px;
    font-weight: 500;
    font-size: 14px;
}

.target-title{
    font-size: 23px;
}